/* heebo-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Heebo";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/heebo-v26-latin-300.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* heebo-regular - latin */
@font-face {
    font-display: swap;
    font-family: "Heebo";
    font-style: normal;
    font-weight: 400;
    src:
        url("../fonts/heebo-v26-latin-regular.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("../fonts/heebo-v26-latin-regular.ttf") format("truetype");
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* heebo-700 - latin */
@font-face {
    font-display: swap;
    font-family: "Heebo";
    font-style: normal;
    font-weight: 700;
    src:
        url("../fonts/heebo-v26-latin-700.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("../fonts/heebo-v26-latin-700.ttf") format("truetype");
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* BORDER BOX */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* VARIABLES */

:root {
    /* COLORS */
    --clr-brand-primary: #0075be;
    --clr-brand-dark: #005587;
    --clr-black: rgb(0, 25, 40);
    --clr-granite: #646c76;
    --clr-grey-dark: #d9dce1;
    --clr-grey: #f5f6f7;
    --clr-white: #fff;
    /* FONTS */
    /* 14px */
    --fs-300: 0.875rem;
    /* 18px */
    --fs-400: 1.125rem;
    /* 20px */
    --fs-500: 1.25rem;
    /* 22px */
    --fs-600: 1.375rem;
    /* LINE HEIGHT */
    --lh-body: 1.5rem;
    /* BORDERS */
    --bdr: 0.125rem solid;
    --bdr-radius: 1.75rem;
    /* BOX SHADOW */
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    :root {
        --lh-body: 2rem;
    }
}

/* BASE */
html {
    font-family: "Heebo", Arial, Helvetica, sans-serif;
}

p,
a,
li {
    font-size: var(--fs-400);
    line-height: var(--lh-body);
    font-weight: 300;
    color: var(--clr-black);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* UTILITY CLASSES */
.wrapper {
    --_max-width: 1200px;
    width: min(calc(100% - 3rem), var(--_max-width));
    margin-inline: auto;
}

.flow > * + * {
    --flow-spacer: 1em;
    margin-top: var(--flow-spacer);
}

.list--reset {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.background {
    position: relative;
}

.background__image {
    position: absolute;
}

.overlay,
.overlay--mobile {
    transition: opacity 0.3s ease-in-out;
}

.overlay::before,
.overlay--mobile::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    z-index: 10;
}

.overlay--active,
.overlay--mobile-active {
    overflow: hidden;
}

.overlay--active::before,
.overlay--mobile-active::before {
    opacity: 1;
    pointer-events: all;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.grid {
    --_gap: 1rem;
    display: grid;
    gap: var(--_gap);
}

.grid--half,
.grid--third {
    grid-template-columns: 1fr;
}

/* TYPOGRAPHY */
.text--bold {
    font-weight: 700;
}

/* LINKS */
.link {
    color: var(--clr-brand-primary);
    text-decoration: none;
    font-weight: bold;
}

.link:hover,
.link:focus-visible {
    text-decoration: underline;
}

.link--body {
    text-decoration: underline;
}

.link--body:hover,
.link--body:focus-visible {
    color: var(--clr-brand-dark);
}

/* BUTTONS */
.button {
    --_button-padding: 0 2rem;
    --_button-text-color: ;
    --_button-bg-color: ;
    --_button-bdr-color: ;
    --_button-bdr-radius: ;

    cursor: pointer;
    display: inline-block;
    padding: var(--_button-padding);
    border: var(--bdr) var(--_button-bdr-color, var(--clr-brand-primary));
    border-radius: var(--_button-bdr-radius, --bdr-radius);
    font-size: var(--fs-300);
    text-transform: uppercase;
    text-decoration: none;

    height: 3.5rem;
    line-height: 3.25rem;
    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.button--transparent {
    --_button-padding: 0;
    --_button-text-color: var(--clr-black);
    --_button-bg-color: transparent;
    --_button-bdr-color: transparent;
    --_button-bdr-radius: 0;

    background-color: var(--_button-bg-color);
    fill: var(--_button-text-color);
    color: var(--_button-text-color);
}

.button--primary {
    --_button-text-color: var(--clr-white);
    --_button-bg-color: var(--clr-brand-primary);
    --_button-bdr-color: var(--clr-brand-primary);
    --_button-bdr-radius: var(--bdr-radius);

    font-weight: 700;
    background-color: var(--_button-bg-color);
    fill: var(--_button-text-color);
    color: var(--_button-text-color);
}

.button--primary:hover,
.button--primary:focus-visible {
    background-color: var(--clr-brand-dark);
}

.button--secondary {
    --_button-text-color: var(--clr-brand-primary);
    --_button-bg-color: transparent;
    --_button-bdr-color: var(--clr-brand-primary);
    --_button-bdr-radius: var(--bdr-radius);

    font-weight: 700;
    background-color: var(--_button-bg-color);
    fill: var(--_button-text-color);
    color: var(--_button-text-color);
}

.button--secondary:hover,
.button--secondary:focus-visible {
    --_button-bdr-color: var(--clr-brand-dark);
    --_button-text-color: var(--clr-brand-dark);
}

.button--underline {
    --_button-bg-color: transparent;
    --_button-text-color: var(--clr-granite);
    border: none;
    border-bottom: 3px solid var(--clr-grey-dark);
    background-color: var(--_button-bg-color);
    color: var(--_button-text-color);
    font-weight: bold;
    text-transform: none;
    font-size: var(--fs-400);
    transition:
        color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

.button--underline.button--active {
    --_button-bdr-color: var(--clr-brand-primary);
    --_button-text-color: var(--clr-black);
    border-color: var(--_button-bdr-color);
}

.button__text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* HEADER */
.header {
    border-top: 1px solid var(--clr-grey-dark);
    border-bottom: 1px solid var(--clr-grey-dark);
    background-color: var(--clr-white);
    position: relative;
    z-index: 20;
}

.header__wrapper {
    --_max-width: 1440px;
}

.header__cta {
    margin-inline-start: auto;
    --_button-bdr-radius: 0;
    --_button-padding: 0 0.7rem;
    border-radius: 0;
    border: none;
    border-left: var(--bdr) var(--clr-grey);
    border-right: var(--bdr) var(--clr-grey);
    background-color: transparent;
    color: var(--clr-brand-primary);
    fill: var(--clr-brand-primary);
}

.header__cta .button__text {
    gap: 0.5rem;
}

.header__cta .chevron {
    display: none;
}

.header__cta:hover,
.header__cta:focus-visible {
    background-color: transparent;
}

.header__logo {
    padding: 20px 0;
}

.header__nav {
    display: flex;
    gap: 2rem;
    /* justify-content: space-between; */
    align-items: center;
    height: 75px;
}

.header__list {
    background-color: var(--clr-white);
    position: fixed;
    top: 75px;
    right: 0;
    z-index: 20;
    width: 100%;
    height: calc(100vh - 75px);
    box-shadow: -5px 5px 11px 2px rgba(0, 0, 0, 0.25);
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition:
        width 0.35s ease-in-out,
        transform 0.35s ease-in-out;
}

.header__list--active {
    transform: translateX(0);
}

.header__item {
    padding: 1rem;
    border-bottom: var(--bdr) var(--clr-grey-dark);
}

/* MOBILE ONLY SUB MENU */
.header__item:last-child {
    margin-block-start: auto;
    border-bottom: none;
    border-top: var(--bdr) var(--clr-grey-dark);
}

.header__link {
    font-weight: 400;
    color: var(--clr-black);
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: var(--bdr) transparent;
    transition: border-bottom 0.2s ease-in-out;
}

.header__link:hover,
.header__link:focus-visible {
    text-decoration: none;
    border-bottom: var(--bdr) var(--clr-brand-primary);
}

.header__sub-menu {
    display: flex;
    justify-content: space-between;
}

.header__sub-menu svg {
    width: 32px;
    aspect-ratio: 1;
}

.header__sub-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MOBILE MENU BUTTON*/

.header__menu {
    background: transparent;
    border: none;
    cursor: pointer;
}

.header__menu-container {
    position: relative;
    width: 30px;
    height: 20px;
    aspect-ratio: 40/30;
}

.header__menu span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--clr-granite);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.header__menu span:nth-of-type(1) {
    top: 0;
    transform-origin: left center;
}

.header__menu span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.header__menu span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.header__menu.active span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0;
    left: 15%;
}

.header__menu.active span:nth-of-type(2) {
    width: 0;
    opacity: 0;
}

.header__menu.active span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 100%;
    left: 15%;
}

/* INTRO SECTION */
.intro {
    min-height: 450px;
    padding: 1.25rem 0 3rem;
}

.intro .background__image {
    display: none;
}

/* BREADCRUMBS */
.breadcrumbs__item {
    display: inline-flex;
    align-items: center;
}

.breadcrumbs__link {
    font-size: var(--fs-300);
}

.breadcrumbs__item--current [aria-current="page"] {
    color: var(--clr-black);
}

/* TEXT */
h1 {
    margin-block-start: 20px;
}

/* CHECK LIST */
.list {
    padding-left: 40px;
    list-style-type: disc;
}

.list--number {
    list-style-type: decimal;
}

.list--number li::marker {
    font-weight: bold;
}

.list--check {
    list-style-image: url("./assets/check.svg");
    vertical-align: middle;
}

.list__item--check {
    padding-inline-start: 10px;
    padding-block-end: 1rem;
}

/* BTN CONTAINER */
.button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

/* HOW IT WORKS SECTION */
.how-it-works {
    background-color: var(--clr-grey);
    padding-block: 4rem;
}

.how-it-works__title {
    text-align: center;
    padding-block-end: 3rem;
}

/* GRID PANELS */
.how-it-works__grid .grid__item {
    justify-self: center;
}

.how-it-works__graphic iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

/* PROGRESS SECTION */

.progress {
    padding-block: 4rem;
}

.progress__grid {
    display: grid;
}

.progress__video-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
}

.progress__video-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}

.progress__video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.progress__video-button svg {
    width: 100px;
    border-radius: 50%;
    background-color: var(--clr-white);
}

/* CALCULATOR SECTION */

.calculator {
    background-color: var(--clr-grey);
    padding-block: 4rem;
}

.calculator__text,
.calculator__form,
.calculator__cta {
    text-align: center;
}

/* FORM */
.calculator__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: var(--fs-500);
    margin-block-start: 1rem;
}

.calculator__form label {
    font-weight: 700;
    font-size: inherit;
    color: var(--clr-brand-primary);
}

.calculator__form input {
    padding-block: 0.5rem;
    font-size: inherit;
}

/* CALCULATOR GRID */
.calculator__grid {
    padding-block: 3rem;
}

/* CALCULATOR CARD */

.calculator__card {
    text-align: center;
}

.calculator__card h3 {
    font-size: var(--fs-600);
    color: var(--clr-brand-primary);
    margin-block-end: 1rem;
}

.calculator__results {
    background-color: var(--clr-white);
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.calculator__installment-amount h4,
.calculator__installment-amount .calculator__data {
    font-size: var(--fs-600);
}

.calculator__data {
    font-weight: 700;
    padding-block: 1rem;
}

.calculator__monthly-principal h4,
.calculator__monthly-fee h4 {
    font-size: var(--fs-500);
    font-weight: 300;
}

.calculator__cta {
    max-width: 800px;
    margin-inline: auto;
}

/* MODAL */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 100%;
    max-width: 1000px;
    background-color: var(--clr-white);
    box-shadow: var(--box-shadow);
}

.modal__content {
    position: relative;
    padding: 2rem;
}

.modal iframe {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16/9;
    height: auto;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

/* MEDIA QUERIES: TABLET */
@media (min-width: 768px) {
    /* HEADER */
    .header__list {
        width: 430px;
    }

    /* INTRO SECTION */
    .intro {
        position: relative;
    }

    .intro__text {
        width: 60%;
    }

    .intro .background__image {
        display: block;
        background-position: top center;
        background-size: cover;
        background-image: url("./assets/bmo-hero.webp");
        background-repeat: no-repeat;
        width: 36%;
        height: 105%;
        top: 0;
        left: 64%;
        z-index: 1;
        border-radius: 0 0 0 var(--bdr-radius);
        box-shadow: -5px 5px 11px 2px rgba(0, 0, 0, 0.25);
    }

    .button-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* UTILITY CLASSES */
    .grid--third {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* MEDIA QUERIES: LAPTOP */
@media (min-width: 1024px) {
    /* UTILITY CLASSES  */

    .overlay--mobile-active {
        overflow: visible;
    }

    .overlay--mobile-active::before {
        opacity: 0;
        pointer-events: none;
    }

    /* HEADER */
    .header__wrapper {
        --_max-width: 1200px;
    }

    .header__nav {
        justify-content: start;
    }

    .header__list {
        position: static;
        width: auto;
        transform: translateX(0%);
        padding: 0;
        box-shadow: none;
        flex-direction: row;
        height: 100%;
        align-self: stretch;
        align-items: center;
        gap: 1.5rem;
    }

    .header__item {
        padding: 0;
        border-bottom: none;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .header__link {
        font-size: 1rem;
    }

    .header__cta {
        display: none;
    }

    .header__sub-menu,
    .header__menu {
        display: none;
    }

    /* HOW IT WORKS */
    .grid--half {
        grid-template-columns: repeat(2, 1fr);
    }

    /* CALCULATOR */
    .calculator__results {
        padding: 1.5rem 3rem;
    }
}

/* MEDIA QUERIES: DESKTOP */
@media (min-width: 1440px) {
    .header__cta {
        --_button-bdr-color: var(--clr-brand-primary);
        --_button-bg-color: var(--clr-brand-primary);
        --_button-text-color: var(--clr-white);
        display: block;
        border: var(--bdr) var(--_button-bdr-color);
        background-color: var(--_button-bg-color);
        color: var(--_button-text-color);
        fill: var(--_button-text-color);
        border-radius: var(--bdr-radius);
    }

    .header__cta .button__text {
        gap: 1rem;
    }

    .header__cta .chevron {
        display: block;
    }

    .header__cta:hover,
    .header__cta:focus-visible {
        background-color: var(--clr-brand-dark);
    }
}
